/**
 * {{#description}}{{description}}{{/description}}{{^description}}Parameter {{paramName}}{{/description}}
 {{#isEnum}}
 * @type {{{datatypeWithEnum}}}
 {{#allowableValues}}
 * @values {{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}
 {{/allowableValues}}
 {{/isEnum}}
 {{#required}}
 * @required
 {{/required}}
 */
{{paramName}}: {{#isEnum}}
z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}])
{{/isEnum}}{{^isEnum}}{{#isArray}}
z.array({{#items}}{{#isEnum}}
z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}])
{{/isEnum}}{{^isEnum}}{{#isString}}
z.string()
{{/isString}}{{^isString}}{{#isNumber}}
z.number()
{{/isNumber}}{{^isNumber}}{{#isInteger}}
z.number()
{{/isInteger}}{{^isInteger}}{{#isLong}}
z.number()
{{/isLong}}{{^isLong}}{{#isFloat}}
z.number()
{{/isFloat}}{{^isFloat}}{{#isDouble}}
z.number()
{{/isDouble}}{{^isDouble}}{{#isDecimal}}
z.number()
{{/isDecimal}}{{^isDecimal}}{{#isBoolean}}
z.boolean()
{{/isBoolean}}{{^isBoolean}}{{#isDateTimeType}}
z.date()
{{/isDateTimeType}}{{^isDateTimeType}}{{#isDateType}}
z.date()
{{/isDateType}}{{^isDateType}}{{#isPrimitiveType}}
z.unknown()
{{/isPrimitiveType}}{{^isPrimitiveType}}{{#dataType}}
Models.{{dataType}}Schema
{{/dataType}}{{^dataType}}
z.unknown()
{{/dataType}}{{/isPrimitiveType}}{{/isDateType}}{{/isDateTimeType}}{{/isBoolean}}{{/isDecimal}}{{/isDouble}}{{/isFloat}}{{/isLong}}{{/isInteger}}{{/isNumber}}{{/isString}}{{/isEnum}}{{/items}}{{^items}}
z.unknown()
{{/items}})
{{/isArray}}{{^isArray}}{{#isDateTimeType}}
z.date()
{{/isDateTimeType}}{{^isDateTimeType}}{{#isDateType}}
z.date()
{{/isDateType}}{{^isDateType}}{{#isString}}
z.string()
{{/isString}}{{^isString}}{{#isNumber}}
z.number()
{{/isNumber}}{{^isNumber}}{{#isInteger}}
z.number()
{{/isInteger}}{{^isInteger}}{{#isLong}}
z.number()
{{/isLong}}{{^isLong}}{{#isFloat}}
z.number()
{{/isFloat}}{{^isFloat}}{{#isDouble}}
z.number()
{{/isDouble}}{{^isDouble}}{{#isDecimal}}
z.number()
{{/isDecimal}}{{^isDecimal}}{{#isBoolean}}
z.boolean()
{{/isBoolean}}{{^isBoolean}}{{#isPrimitiveType}}
z.unknown()
{{/isPrimitiveType}}{{^isPrimitiveType}}{{#dataType}}
Models.{{dataType}}Schema
{{/dataType}}{{^dataType}}
z.unknown()
{{/dataType}}{{/isPrimitiveType}}{{/isBoolean}}{{/isDecimal}}{{/isDouble}}{{/isFloat}}{{/isLong}}{{/isInteger}}{{/isNumber}}{{/isString}}{{/isDateType}}{{/isDateTimeType}}{{/isArray}}{{/isEnum}}{{^required}}.optional(){{/required}}{{#isNullable}}.nullable(){{/isNullable}}
