{
  "compilerOptions": {
    "declaration": true,
    "target": "{{#supportsES6}}es6{{/supportsES6}}{{^supportsES6}}es5{{/supportsES6}}",
    "module": "commonjs",
    "moduleResolution": "node",
    "outDir": "dist",
    "typeRoots": ["node_modules/@types"],
    "esModuleInterop": true,
    "strict": true,
    "declarationMap": true
  },
  "exclude": [
    "dist",
    "node_modules"
  ]
}