{{#items}}{{#isPrimitiveType}}{{#isString}}z.string(){{/isString}}{{#isNumeric}}z.number(){{/isNumeric}}{{#isBoolean}}z.boolean(){{/isBoolean}}{{#isDateTimeType}}z.string(){{/isDateTimeType}}{{#isDateType}}z.string().date(){{/isDateType}}{{^isString}}{{^isNumeric}}{{^isBoolean}}{{^isDateTimeType}}{{^isDateType}}z.unknown(){{/isDateType}}{{/isDateTimeType}}{{/isBoolean}}{{/isNumeric}}{{/isString}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isEnum}}z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]){{/isEnum}}{{^isEnum}}{{#dataType}}{{dataType}}Schema{{/dataType}}{{^dataType}}z.unknown(){{/dataType}}{{/isEnum}}{{/isPrimitiveType}}{{/items}}{{^items}}z.unknown(){{/items}}
