{{#isEnum}}z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]){{/isEnum}}{{^isEnum}}{{#isContainer}}{{#isArray}}z.array({{>zodArrayItemType}}){{/isArray}}{{#isMap}}z.record(z.string(), {{>zodMapValueType}}){{/isMap}}{{/isContainer}}{{^isContainer}}{{#isPrimitiveType}}{{#isString}}z.string(){{/isString}}{{#isNumeric}}z.number(){{/isNumeric}}{{#isBoolean}}z.boolean(){{/isBoolean}}{{#isDateTimeType}}z.union([z.iso.date(),z.iso.datetime()]).transform(val => new Date(val)){{/isDateTimeType}}{{#isDateType}}z.union([z.iso.date(),z.iso.datetime()]).transform(val => new Date(val)){{/isDateType}}{{^isString}}{{^isNumeric}}{{^isBoolean}}{{^isDateTimeType}}{{^isDateType}}z.unknown(){{/isDateType}}{{/isDateTimeType}}{{/isBoolean}}{{/isNumeric}}{{/isString}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#dataType}}{{dataType}}Schema{{/dataType}}{{^dataType}}z.unknown(){{/dataType}}{{/isPrimitiveType}}{{/isContainer}}{{/isEnum}}
