{{#isEnum}}z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]){{/isEnum}}{{^isEnum}}{{#isContainer}}{{#isArray}}z.array({{>zodArrayItemType}}){{/isArray}}{{#isMap}}z.record(z.string(), {{>zodMapValueType}}){{/isMap}}{{/isContainer}}{{^isContainer}}{{#isPrimitiveType}}{{#isString}}z.string(){{/isString}}{{#isNumeric}}z.number(){{/isNumeric}}{{#isBoolean}}z.boolean(){{/isBoolean}}{{#isDateTimeType}}z.string(){{/isDateTimeType}}{{#isDateType}}z.string().date(){{/isDateType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isModel}}{{#dataType}}{{#ArticleSearchFilter}}z.lazy(() => {{dataType}}Schema){{/ArticleSearchFilter}}{{#WikipediaSearchFilter}}z.lazy(() => {{dataType}}Schema){{/WikipediaSearchFilter}}{{^ArticleSearchFilter}}{{^WikipediaSearchFilter}}{{dataType}}Schema{{/WikipediaSearchFilter}}{{/ArticleSearchFilter}}{{/dataType}}{{/isModel}}{{^isModel}}{{dataType}}Schema{{/isModel}}{{/isPrimitiveType}}{{/isContainer}}{{/isEnum}}