{{#items}}{{#isContainer}}{{#isArray}}z.array({{>zodArrayItemType}}){{/isArray}}{{/isContainer}}{{^isContainer}}{{#isPrimitiveType}}{{#isString}}z.string(){{/isString}}{{#isNumeric}}z.number(){{/isNumeric}}{{#isBoolean}}z.boolean(){{/isBoolean}}{{#isDateTimeType}}z.string(){{/isDateTimeType}}{{#isDateType}}z.union([z.string().date(),z.string().datetime()]).transform(val => new Date(val)){{/isDateType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isEnum}}z.enum([{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]){{/isEnum}}{{^isEnum}}{{#isModel}}{{#dataType}}{{dataType}}Schema{{/dataType}}{{/isModel}}{{^isModel}}{{dataType}}Schema{{/isModel}}{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{/items}}
